RewriteEngine On

# Izinkan akses langsung ke file/folder yang memang ada (assets, dll)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Semua request diteruskan ke index.php di root
RewriteRule ^wicara/(.*)$ /wicara/index.php [L,QSA]
RewriteRule ^$ /wicara/index.php [L,QSA]
