Options -Indexes
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /wicara/public/index.php [L,QSA]

<IfModule mod_headers.c>
    Header always set X-Content-Type-Options "nosniff"
    Header always set X-Frame-Options "SAMEORIGIN"
</IfModule>

<FilesMatch "\.(env|log|sql|gitignore)$">
    Order allow,deny
    Deny from all
</FilesMatch>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/css text/javascript application/javascript
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css               "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
    ExpiresByType image/png              "access plus 1 year"
    ExpiresByType image/jpeg             "access plus 1 year"
</IfModule>

<IfModule mod_php.c>
    php_value upload_max_filesize 10M
    php_value post_max_size       10M
    php_value max_execution_time  60
    php_value memory_limit        256M
    php_flag  display_errors      Off
    php_flag  log_errors          On
</IfModule>
<IfModule mod_php8.c>
    php_value upload_max_filesize 10M
    php_value post_max_size       10M
    php_value max_execution_time  60
    php_value memory_limit        256M
    php_flag  display_errors      Off
    php_flag  log_errors          On
</IfModule>
